<article class="py-8">
    <h1 class="container mx-auto mb-6">{{ title | entities | widont }}</h1>
    {{ if feature_image }}
        <div class="container mx-auto">
            {{ feature_image }}<img class="mt-4 rounded-md shadow-md" src="{{ url }}" alt="{{ alt }}"/>{{ /feature_image }}
        </div>
    {{ /if }}
    {{ if content_area }}
        {{ content_area }}
            {{ partial src="default/{type}" }}
        {{ /content_area }}
    {{ /if }}
    {{# {{ if allow_spaces !== false }}
        {{ spaces:show }}
    {{ /if }} #}}
</article>
