<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ seo_pro:meta }}
        {{ partial src="favicons" }}
        {{ livewire:styles }}
        {{ vite src="resources/css/site.css|resources/js/site.js" }}
    </head>
    <body class="font-sans">
        {{ partial src="nav" }}
        {{ template_content }}
        {{ partial src="footer" }}
        {{ livewire:scripts }}
    </body>
</html>
