<footer class="container z-10 px-6 py-6 mx-auto mt-6 font-mono border-t md:px-0 md:border-none">
    <div class="flex flex-wrap items-center mt-4 space-x-5 md:justify-start">
        <a href="https://x.com/shoden" class="flex items-center w-5 h-5 text-gray-500 hover:text-black" title="X">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://instagram.com/shoden" class="flex items-center w-5 h-5 text-gray-500 hover:text-black" title="Instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://github.com/sheldonkotyk" class="flex items-center w-5 h-5 text-gray-500 hover:text-black" title="Github">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/sheldonkotyk/" class="flex items-center w-5 h-5 text-gray-500 hover:text-black" title="Github">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="/contact" class="flex items-center w-5 h-5 text-gray-500 hover:text-black" title="Email">
            <i class="fa-light fa-envelope"></i>
        </a>
    </div>
    <p class="pt-4 text-xs text-gray-500">©{{ now format="Y" }} Sheldon Kotyk</p>
</footer>
