<div class="container px-6 mx-auto md:px-0">
    <article class="py-8">
        <h1 class="mb-6">{{ title | entities | widont }}</h1>
        <div class="flex items-start">
            <div>
                <p class="text-lg text-gray-800">{{ summary }}</p>
                <div class="flex mt-4 space-x-3 font-mono text-xs tracking-widest text-gray-500 uppercase">
                    <span>{{ date }}</span>
                </div>
            </div>
        </div>
        {{ if feature_image }}
            {{ feature_image }}<img class="mt-4" src="{{ url }}" alt="{{ alt }}"/>{{ /feature_image }}
        {{ /if }}
        {{ if content }}
            <div class="pt-8 mt-8 border-t content">
                {{ content }}
            </div>
        {{ /if }}

        {{ if content_area }}
            <div class="pt-8 mt-8 content">
                {{ content_area }}
                    {{ partial src="default/{type}" }}
                {{ /content_area }}
            </div>
        {{ /if }}
        {{ if allow_spaces !== false }}
            {{ spaces:show }}
        {{ /if }}
    </article>
</div>
