@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This is all you. */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

h1 {
    @apply font-sans text-5xl font-black;
}

.videoWrapper {
    position: relative;
    padding-bottom: 38.59%; /* 16:9 */
    padding-top: 35px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text-columns  {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 200px;
    -moz-column-width: 200px;
    column-width: 200px;
}

[x-cloak] {
    display: none;
}

.button-primary {
	@apply font-bold rounded-md bg-red-800 no-underline py-2 px-4 whitespace-nowrap text-white hover:bg-red-900 !important;
}

.button-primary-sm {
	@apply font-bold rounded-md bg-red-800 no-underline py-1 px-2 whitespace-nowrap text-white hover:bg-red-900 !important;
}

.button-yellow {
	@apply font-bold rounded-md bg-brand-yellow no-underline py-2 px-4 whitespace-nowrap text-black hover:bg-brand-primarybuttonhover !important;
}

.button-white {
	@apply font-bold rounded-md bg-white no-underline py-2 px-4 whitespace-nowrap text-black hover:bg-brand-primarybuttonhover !important;
}

.button-black {
	@apply font-bold rounded-md bg-black no-underline py-2 px-4 whitespace-nowrap text-white hover:bg-brand-primarybuttonhover !important;
}

.button-secondary {
	@apply font-bold rounded-md bg-white no-underline py-2 px-4 whitespace-nowrap text-black hover:bg-brand-orange hover:text-white !important;
}

.button-outline {
	@apply rounded-lg border-brand-darkgraybg border-2 no-underline py-2 px-4 whitespace-nowrap text-brand-darkgraybg hover:bg-brand-primarybutton hover:text-white !important;
}

.button-Link {
	@apply underline py-2 whitespace-nowrap text-3xl text-brand-verydarkblue font-black !important;
}

